@import 'mixins'
@import 'colours'
@import 'flip-card'

html, body
  // background-color: $material-background
  margin: 0px
  padding: 0px
  font-family: 'Roboto', sans-serif
  font-size: 18px
  color: $text-black

.mat-dialog-container
  max-width: 100vw !important;

.red
  color: $stop
