<div [ngSwitch]="logged.toString()">
  <div *ngSwitchCase="'true'">
    <button md-button md-raised-button (click)="logout()"> Logout </button>
    <div fxLayout="column" fxLayoutAlign="start start">
      <h4>Enquiries</h4>
      <md-input-container>
        <input mdInput placeholder="Name" value="Ben Wall" required #name>
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Number" value="077602446" required #number>
      </md-input-container>
      <md-input-container>
        <textarea mdInput placeholder="Message" value="Hi just wondering when you would be free to teach me to drive?"
          required #message></textarea>
      </md-input-container>
      <button md-button md-raised-button (click)="addEnquiry(name.value, number.value, message.value)">Add enquiry</button>
    </div>

    <div class="enquiry" *ngFor="let e of enquiries | async">
      <table>
        <th fxLayout="column" fxLayoutAlign="center center">
          <button md-button md-icon-button class='default' (click)="deleteEnquiry(e.$key)">
        <i class="material-icons grey">close</i>
      </button>
        </th>
        <tr>
          <td>Name:</td>
          <dt>{{e.name}}</dt>
        </tr>
        <tr>
          <td>Number:</td>
          <td>{{e.number}}</td>
        </tr>
        <tr>
          <td>Message:</td>
          <td>{{e.message}}</td>
        </tr>
      </table>
    </div>
  </div>
  <!-- switch is logged in -->
  <div *ngSwitchCase="'false'" fxLayout="column" fxLayoutAlign="center center">
    <h1>You must be logged in to use this page</h1>
    <button md-button md-raised-button (click)="login()">
      Login
    </button>
  </div>
  <!-- switch not logged -->
</div>

