<div [ngSwitch]="logged.toString()">
  <div *ngSwitchCase="'true'">

    <button md-button md-raised-button (click)="logout()"> Logout </button>

    <div id="add-reviews" fxLayout="column" fxLayoutAlign="start start">
      <h2>Add review</h2>
      <md-input-container>
        <input mdInput placeholder="Name" value="" required #name>
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Location..." value="" required #location>
      </md-input-container>
      <md-input-container>
        <textarea mdInput placeholder="Review" value="" #review required></textarea>
      </md-input-container>

      <app-upload (uploadedEmitter)=imageUploaded($event)></app-upload>

      <div fxLayout="row" fxLayoutAlign="start center">
        <button md-button md-raised-button (click)="addReview(name.value, location.value, review.value)" [disabled]='!imageSuccess'>
          Add Review
        </button>
        <span class="red" *ngIf="!imageSuccess">Please make sure to add your Pass Class image before continuing</span>
      </div>
    </div>


    <div id="enquiries" fxLayout="column" fxLayoutAlign="start center">
      <h2>Enquires</h2>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
        <div class="mat-elevation-z4 enquiry" *ngFor="let e of enquiries | async">
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
            <span class="bold">{{e.date | date : 'medium'}}</span>
            <button md-button md-icon-button class='default' (click)="deleteEnquiry(e.$key)">
              <i class="material-icons grey">close</i>
            </button>
          </div>
          <table>
            <tr>
              <td>Name:</td>
              <dt>{{e.name}}</dt>
            </tr>
            <tr>
              <td>Number:</td>
              <td>{{e.number}}</td>
            </tr>
            <tr>
              <td>Message:</td>
              <td>{{e.message}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div id="reviews" fxLayout="column" fxLayoutAlign="start center">
      <h2>Reviews</h2>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
        <div class="review mat-elevation-z4" *ngFor="let r of reviews | async">
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
            <span>{{r.name}}</span>
            <button md-button md-icon-button (click)="deleteReview(r.$key)">
                <i class="material-icons grey">close</i>
              </button>
          </div>
          <table>
            <tr>
              <td>Name:</td>
              <td>{{r.name}}</td>
            </tr>
            <tr>
              <td>Location:</td>
              <td>{{r.location}}</td>
            </tr>
            <tr>
              <td>Review</td>
              <td>{{r.review}}</td>
            </tr>
            <tr>
              <td>Image</td>
              <img src="{{r.url}}}" alt="" width='100px' *ngIf="r.url"/>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div id="bookings" fxLayout="column" fxLayoutAlign="start center">
      <h2>Booking Requests</h2>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
        <div class="review mat-elevation-z4" *ngFor="let r of reviews | async">
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
            <span>{{r.name}}</span>
            <button md-button md-icon-button (click)="deleteReview(r.$key)">
                <i class="material-icons grey">close</i>
              </button>
          </div>
          <table>
            <tr>
              <td>Name:</td>
              <td>{{r.name}}</td>
            </tr>
            <tr>
              <td>Location:</td>
              <td>{{r.location}}</td>
            </tr>
            <tr>
              <td>Review</td>
              <td>{{r.review}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
  <!-- switch is logged in -->
  <div *ngSwitchCase="'false'" fxLayout="column" fxLayoutAlign="center center">
    <h1>You must be logged in to use this page</h1>
    <button md-button md-raised-button (click)="login()">
      Login
    </button>
  </div>
  <!-- switch not logged -->
</div>

