<div [ngSwitch]="logged.toString()">
  <div *ngSwitchCase="'true'">

    <button md-button md-raised-button (click)="logout()"> Logout </button>

    <div id="enquiries">
      <h2>Enquires</h2>
      <table *ngFor="let e of enquiries | async">
        <th fxLayout="column" fxLayoutAlign="center center">
          <button md-button md-icon-button class='default' (click)="deleteEnquiry(e.$key)">
            <i class="material-icons grey">close</i>
          </button>
        </th>
        <tr>
          <td>Name:</td>
          <dt>{{e.name}}</dt>
        </tr>
        <tr>
          <td>Number:</td>
          <td>{{e.number}}</td>
        </tr>
        <tr>
          <td>Message:</td>
          <td>{{e.message}}</td>
        </tr>
        <tr>
          <td>Date:</td>
          <td>{{e.date}}</td>
        </tr>
      </table>
    </div>

  </div>
  <!-- switch is logged in -->
  <div *ngSwitchCase="'false'" fxLayout="column" fxLayoutAlign="center center">
    <h1>You must be logged in to use this page</h1>
    <button md-button md-raised-button (click)="login()">
      Login
    </button>
  </div>
  <!-- switch not logged -->
</div>

