<div fxLayout="column" fxLayoutAlign="start center">

  <div class="section" id="head" fxLayout="column" fxLayoutAlign="start center">
    <h2 class="header">Welcome section</h2>
  </div>

  <div class="section" id="lessons" fxLayout="column" fxLayoutAlign="start center">
    <h2 class="header">Lessons</h2>
    <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-around center" fxLayout.xs="column" fxLayoutAlign.xs="space-around center" fxFill>
      <div class="icon-box" fxLayout="column" fxLayoutAlign="start center">
        <h4>Step-1 Book</h4>
        <i class="material-icons stop">phone</i>
      </div>
      <div class="icon-box" fxLayout="column" fxLayoutAlign="start center">
        <h4>Step-2 Go</h4>
        <i class="material-icons wait">access_time</i>
      </div>
      <div class="icon-box" fxLayout="column" fxLayoutAlign="start center">
        <h4>Step-3 Pass</h4>
        <i class="material-icons go">done</i>
      </div>
    </div>
  </div>

  <div class="section" id="book" fxLayout="column" fxLayoutAlign="start center">
    <h2 class="header">Book</h2>
    <h4>Alailable slots!</h4>
    <button md-button md-raised-button (click)="book()">
      Book
    </button>

  </div>

  <div class="section" id="tests" fxLayout="column" fxLayoutAlign="start center">
    <h2 class="header">Tests</h2>
    <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-around center" fxLayout.xs="column" fxLayoutAlign.xs="space-around center" fxFill>
      <div class="box mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
        <h4>Theory test</h4>
        <p>Find out what you need to know</p>
      </div>
      <div class="box mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
        <h4> Practical Driving Exam</h4>
        <p>Feeling confident</p>
      </div>
      <div class="box mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
        <h4>Advanced Classes</h4>
        <p>Step it up a gear</p>
      </div>
    </div>
  </div>

  <div class="section" id="pass" fxLayout="column" fxLayoutAlign="start center">
    <h2 class="header">The Pass Class</h2>
    <h4>Getting the result you wanted</h4>
    <p>Slider here</p>
  </div>

  <div class="section contact" id="contact" fxLayout="column" fxLayoutAlign="start center">
    <h2 class="header">Contact</h2>
    <div class="text">
      <h4>Contact us and we'll get back to you as soon as possible.</h4>
      <div fxFill>
        <span fxLayout="row" fxLayoutAlign="start center"><i class="material-icons grey3">location_on</i>Thanet, Kent, UK</span>
        <span fxLayout="row" fxLayoutAlign="start center"><i class="material-icons grey3">phone</i>+07712345678</span>
        <span fxLayout="row" fxLayoutAlign="start center"><i class="material-icons class">email</i>lessons@in-t-gear.com</span>
      </div>
    </div>

    <div class="inputs">
      inputs
    </div>
  </div>
</div>

