<div fxLayout="column" fxLayoutAlign="start center">

  <div class="section" id="head">
    <div class="content" fxLayout="column" fxLayoutAlign="start center">
      <h2 class="header">In-To-Gear</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequaa.</p>
    </div>
  </div>

  <div class="section" id="lessons" fxLayout="column" fxLayoutAlign="start center">

    <h2 class="header">Lessons</h2>

    <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-around center" fxLayout.xs="column"
      fxLayoutAlign.xs="space-around center" fxFill>

      <div class="flip-container" [ngClass]="{'hover': selected === 'book'}" (click)="select('book')">

        <div class="flipper">
          <div class="front mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
            <h4>Step-1 Book</h4>
            <i class="material-icons stop">phone</i>
            <!-- front content -->
          </div>
          <div class="back mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
            <h4>Book a lesson</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequaa.</p>
            <!-- back content -->
          </div>
        </div>

      </div>

      <div class="flip-container" [ngClass]="{'hover': selected === 'go'}" (click)="select('go')">

        <div class="flipper">
          <div class="front mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
            <h4>Step-2 Go</h4>
            <i class="material-icons wait">access_time</i>
            <!-- front content -->
          </div>
          <div class="back mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
            <h4>Get driving</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequaa.</p>
            <!-- back content -->
          </div>
        </div>

      </div>

      <div class="flip-container" [ngClass]="{'hover': selected === 'pass'}" (click)="select('pass')">

        <div class="flipper">
          <div class="front mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
            <h4>Step-3 Pass</h4>
            <i class="material-icons go">done</i>
            <!-- front content -->
          </div>
          <div class="back mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
            <h4>Pass the test</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequaa.</p>
            <!-- back content -->
          </div>
        </div>

      </div>

    </div> <!-- card row -->

  </div> <!-- section -->

  <div class="section" id="book" fxLayout="column" fxLayoutAlign="start center">
    <h2 class="header">Book</h2>
    <h4>Alailable slots!</h4>
    <button md-button md-raised-button (click)="openBooking()">Request a booking</button>

  </div>

  <div class="section" id="tests" fxLayout="column" fxLayoutAlign="start center">
    <h2 class="header">Tests</h2>
    <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-around center" fxLayout.xs="column"
      fxLayoutAlign.xs="space-around center" fxFill>

      <div class="flip-container" [ngClass]="{'hover': selected === 'theory'}" (click)="select('theory')">

        <div class="flipper">
          <div class="front mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
            <h2>Theory test</h2>
            <p>Find out what you need to know</p>
            <!-- front content -->
          </div>
          <div class="back mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
            <h4>Find out what you need to know</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequaa.</p>
            <!-- back content -->
          </div>
        </div>

      </div>

      <div class="flip-container" [ngClass]="{'hover': selected === 'exam'}" (click)="select('exam')">

        <div class="flipper">
          <div class="front mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
            <h2>Practical Driving Exam</h2>
            <p>Feeling confident</p>
            <!-- front content -->
          </div>
          <div class="back mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
            <h4>Feeling confident</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequaa.</p>
            <!-- back content -->
          </div>
        </div>

      </div>

      <div class="flip-container" [ngClass]="{'hover': selected === 'advanced'}" (click)="select('advanced')">

        <div class="flipper">
          <div class="front mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
            <h2>Advanced Classes</h2>
            <p>Step it up a gear</p>
            <!-- front content -->
          </div>
          <div class="back mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
            <h4>Step it up a gear</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequaa.</p>
            <!-- back content -->
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="section" id="pass" fxLayout="column" fxLayoutAlign="start center">
    <h2 class="header">The Pass Class</h2>
    <h4>Getting the result you wanted</h4>
    <p>Slider here</p>
  </div>

  <div class="section contact" id="contact" fxLayout="column" fxLayoutAlign="start center">
    <div class="content" fxLayout="column" fxLayoutAlign="start center">

      <h2 class="header">Contact</h2>

      <div class="text" fxLayout="column" fxLayoutAlign="start center">
        <h4>Contact us and we'll get back to you as soon as possible.</h4>
        <div fxLayout="column" fxLayoutAlign="start start" class="info">
          <span fxLayout="row" fxLayoutAlign="start start"><i class="material-icons stop">location_on</i>Thanet, Kent, UK</span>
          <span fxLayout="row" fxLayoutAlign="start start"><i class="material-icons wait">phone</i>+07712345678</span>
          <span fxLayout="row" fxLayoutAlign="start start"><i class="material-icons go">email</i>lessons@in-t-gear.com</span>
        </div>
      </div>

      <div class="inputs" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start start" fxLayout.xs="column" fxLayoutAlign.xs="start center" fxFill>

        <div fxLayout="column" fxLayoutAlign="start start">
          <md-input-container>
            <input mdInput placeholder="Name" value="" required #name>
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Contact number" value="" required #number>
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Email address" value="" #email>
          </md-input-container>
        </div>

        <div>
          <md-input-container>
            <textarea mdInput placeholder="Enquiry" value="" required #message></textarea>
          </md-input-container>
        </div>

        <button md-button md-raised-button (click)="addEnquiry(name.value, number.value, email.value, message.value)">
          Send
        </button>

      </div>
    </div>
  </div>
</div>
