<div fxLayout="column" fxLayoutAlign="start center">

  <div class="section" id="head" fxLayout="column" fxLayoutAlign="start center">
    <h2 class="header">Welcome section</h2>
  </div>

  <div class="section" id="lessons" fxLayout="column" fxLayoutAlign="start center">
    <h2 class="header">Lessons</h2>
    <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-around center" fxLayout.xs="column"
      fxLayoutAlign.xs="space-around center" fxFill>

      <div class="icon-box mat-elevation-z2" [ngClass]="{'mat-elevation-z8 selected': displayType === 'book'}"
        fxLayout="column" fxLayoutAlign="start center" (click)="selectInfo('book')">
        <div fxLayout="column" fxLayoutAlign="start center" class="front">
          <h4>Step-1 Book</h4>
          <i class="material-icons stop">phone</i>
        </div>
      </div>

      <div class="icon-box mat-elevation-z2" [ngClass]="{'mat-elevation-z8 selected': displayType === 'go'}"
        fxLayout="column" fxLayoutAlign="start center" (click)="selectInfo('go')">
        <h4>Step-2 Go</h4>
        <i class="material-icons wait">access_time</i>
      </div>

      <div class="icon-box mat-elevation-z2" [ngClass]="{'mat-elevation-z8 selected': displayType === 'pass'}"
        fxLayout="column" fxLayoutAlign="start center" (click)="selectInfo('pass')">
        <h4>Step-3 Pass</h4>
        <i class="material-icons go">done</i>
      </div>

    </div>

    <div class="display-info">
      <div [ngSwitch]="displayType">
        <div *ngSwitchCase="'book'">
          <h4>Book</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequaa.</p>
        </div>
        <div *ngSwitchCase="'go'">
          <h4>Go</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequaa.</p>
        </div>
        <div *ngSwitchCase="'pass'">
          <h4>Pass</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequaa.</p>
        </div>
      </div>
      <!-- .display-info -->
    </div>

    <div class="section" id="book" fxLayout="column" fxLayoutAlign="start center">
      <h2 class="header">Book</h2>
      <h4>Alailable slots!</h4>
      <button md-button md-raised-button>
      Book
    </button>

    </div>

    <div class="section" id="tests" fxLayout="column" fxLayoutAlign="start center">
      <h2 class="header">Tests</h2>
      <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-around center" fxLayout.xs="column"
        fxLayoutAlign.xs="space-around center" fxFill>
        <div class="box mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
          <h4>Theory test</h4>
          <p>Find out what you need to know</p>
        </div>
        <div class="box mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
          <h4> Practical Driving Exam</h4>
          <p>Feeling confident</p>
        </div>
        <div class="box mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
          <h4>Advanced Classes</h4>
          <p>Step it up a gear</p>
        </div>
      </div>
    </div>

    <div class="section" id="pass" fxLayout="column" fxLayoutAlign="start center">
      <h2 class="header">The Pass Class</h2>
      <h4>Getting the result you wanted</h4>
      <p>Slider here</p>
    </div>

    <div class="section contact" id="contact" fxLayout="column" fxLayoutAlign="start center">
      <h2 class="header">Contact</h2>
      <div class="text">
        <h4>Contact us and we'll get back to you as soon as possible.</h4>
        <div fxFill>
          <span fxLayout="row" fxLayoutAlign="start start"><i class="material-icons grey3">location_on</i>Thanet, Kent, UK</span>
          <span fxLayout="row" fxLayoutAlign="start start"><i class="material-icons grey3">phone</i>+07712345678</span>
          <span fxLayout="row" fxLayoutAlign="start start"><i class="material-icons class">email</i>lessons@in-t-gear.com</span>
        </div>
      </div>

      <div class="inputs">
        inputs
      </div>
    </div>
  </div>

