$height: 400px
$width: 100%
\:host()
  .review
    position: relative
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    min-height: $height
    color: white
    padding: 20px
  .overlay
    position: absolute
    min-height: $height
    min-width: 100%
    top: 0px
    padding: 30px
  span.location
    font-style: italic
  span.name
    font-weight: bold
  p.review-text
    font-size: 1.2em
    padding: 0px 70px
    text-align: center
  p, span
    background-color: rgba(0,0,0 ,0.5)
    padding: 5px
    width: auto
